.navhome{
color: white;
position: fixed;
top: 0;
width: 100%;
z-index: 1200;
}

.navbar{
  background-color: white;
  height: 50px;
position: fixed;
width: 100%;
z-index: 5000;
}

.navbar-box{
  display: flex;
  margin: 0 auto;
  width: 75%;
}

.homebar-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0 auto;
  width: 75%;
}

.navbar-container{
  margin: 0 auto;
  width:100%;
}

.navbarlogo{
  cursor: pointer;
  width: 43px;
  height: 43px;
}

.textlogo{
  cursor: pointer;
  height: 33px;
  padding-bottom: 4px;
}

.footer{
  background-color: #414f6b;
  height: 74px;
  margin: 0 auto;
  top: calc(100vh - 74px);
  width: 100%;
  position: absolute;
}

.footer h3{
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  text-wrap: nowrap;
}

.footer-container{
  margin: 10px auto;
  width: 100%;
}

.footer-box{
margin: 0 auto;
display: flex;
justify-content: space-between;
width: 75%;
}

.menu{
  display: flex;
  gap: 50px;
  margin-top: 15px;
  text-wrap: nowrap;
}

.hero img{
top: 0;
height: 100vh;
object-fit: cover;
position: absolute;
  width: 100%;
} 

.item{
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  text-decoration: underline; 
  text-underline-offset: 5px;
}

.item-menu{
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  margin-top: 25px;
  right: 20px;
  text-decoration: underline; 
  text-underline-offset: 5px;
}

.navhome img{
  width: 43px;
  height: 43px;
}

.history{
  background-image: url('../public/history.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.team{
  background-image: url('../public/team.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
 /* overflow-y: hidden;*/
}

.home{
  background-image: url('../public/home.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.history-title{
  margin: 0 auto;
  padding-top: 55px;
  width: 75%;
}

.team-title{
  margin: 0 auto;
  padding-top: 55px;
  width: 75%;
}

.number-container{
  display: flex;

}

.number{
  color: #414f6b;
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  opacity: 0.5;
  
}

.title{
  color: #414f6b;
  font-family: 'Oswald', sans-serif;
  margin-left: -15px;
  padding-top: 45px;
}

.text-content{
  font-family: 'Lato', sans-serif;
  margin-left: 35px;
}

.textclimb-content{
  font-family: 'Lato', sans-serif;
  margin-left: 35px;
  margin-top: 20px;
}

.glide-container{
  background-color: #414f6b7e;
  height: 195px;
  position: absolute;
  top: 60vh;
  width: 100%;
}

.glide__slide img{
  height: 135px;
  margin-top: 30px;
  width: 220px;
}

.tabs-container{
  background-color: #414f6b;
  height: 40px;
  margin-top: 25px;
  width: 100%;
}

.tabs-flexbox{
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 75%;
}

.team-tab{
  color: #b0b4be;
  cursor: pointer;
  font-family: 'Oswald', sans-serif; 
  padding:10px;
  
}

.team-tab__selected{
  background-color: #b0b4be;
  color: #414f6b;
  cursor: pointer;
  font-family: 'Oswald', sans-serif; 
  padding:10px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.schedule{
  margin: 0 auto;
  width: 75%;
}

.schedule-table{
  margin-top: 10px;
}

.schedule-box{
  background-color: white;
  height: 229px;
  margin-left: 30px;
  margin-top: 100px;
  width: 352px;
}

.schedule-title{
  color: #414f6b;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}

.schedule-box__container{
  padding: 20px 30px;
}

.schedule-table__row{
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  padding: 9px;
}

.menu-icon{
  display: none;
  margin-top: -43px;
  position: absolute;
  right: 83px;
}

.home-menu__icon{
  display: none;
  margin-right: 81px;
  margin-top: 3px;
}

.menu-button{
  background-color: white;
  display: none;
  height: 100px;
  position: absolute;
  right: 0px;
  width: 120px;
}

.home-menu__button{
  display: none;
  height: 100px;
  position: absolute;
  right: 0px;
  width: 120px;
}

.home-menu{
  color: white;
  display: none;
  position: fixed;
  right: 0;
  z-index: 5000;
}

.glide__bullets{
  top: 180px;
}


@media only screen and (max-width: 640px) {

  .menu-icon{
    display: block;
  }
  

.footer{
  height: 100px;
  position: relative;
  top: 0;
}

.footer-box{
  flex-direction: column;
  text-align: center;
 }

 .footer h3{
  margin-top: 0;
 }

 .schedule{
  margin-top: 15%;
  width: 100%;
 }

 .schedule-box{
  margin: 0 auto;
 }

 .item{
  display: none;
 }

 .home{
  height: 90vh;
 }

 .home-menu{
  display: block;
}

.home-menu__icon{
  display: block;
}

}

@media only screen and (max-height: 670px) {

  .footer{
    position: static;
  }

  .team{
    height: 108vh;
  }

  .history{
    height: 87vh;
  }

}

@media only screen and (max-width: 285px) {

  .menu-button{
    right: 20px;
  }

  .menu-icon{
    right: 20px;
  }

  .schedule{
    margin-top: 10px;
  }  
  .schedule-box{
    width: 100%;
  }
  .schedule-box__container{
    padding:0;
  }
  .textclimb-content{
    margin-left: 7px;
  }
  .footer-box h3{
    font-size: 12px;
  }
  .history {
    height: 97vh;
}
  }